<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="/OktoberfestAirbnbSearch/static/styles/styles.css"> -->
    <title>Thank you!</title>
</head>
<body>
    <div class="heading">
        <header class="header">
            <h1>Thank you for submitting this form!</h1>
            {% if email %}
                <h3>Check your inbox for the first email to {{ email }}!</h3>
            {% else %}
                <h3>Check your inbox for the first email!</h3>
            {% endif %} 
        </div>    
</body>

